<div class="container">
  <h3>Login Form</h3>

  <div>
    <form #loginForm="ngForm" (ngSubmit)="onLogIn(loginForm)">
      <div class="input-container">
        <input class="fields" type='text' name='username' placeholder="username" ngModel>
        <input class="fields" type="password" name="password" placeholder="password" ngModel>
      </div>

      <div class="btn-container">
        <button class="btn" type="submit">Log in</button>
        <button class="btn" (click)="onLogOut()">Log out</button>
      </div>

    </form>
  </div>
</div>
