  <div class="container">
    <div class="row">
      <div class="col-xl-1">
      </div>
      <div class="col-xl-10">
        <div class="title-container">
          <h3>Album title: {{ albumTitle}}</h3>
          <div class="icons">
            <span (click)='status=status = false'><i class="fas fa-th-large"></i></span>
            <span (click)='status=status = true'><i class="fas fa-bars"></i></span>
          </div>

        </div>

        <div class="form-group">
          <input type="text" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
            placeholder="Search" autofocus>
        </div>
        <div class="cards-container" #cardsContainer
          [ngClass]="status ? 'cards-container-list' :  'cards-container-grid'">
          <app-card (imageSelected)="urlReceived($event)" (deletedItem)="deleteItem($event)" lazy-load-images
            *ngFor="let photo of photos | appPhotosFilter: searchText" [url]="photo.thumbnailUrl" [title]="photo.title"
            [status]="status">
          </app-card>
        </div>
      </div>
      <div class="col-xl-1">
      </div>
    </div>
  </div>
