*{
    margin-top: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-btn{
    border: none;
    background-color: transparent;
}

.log-out-btn{
background-color: #FFC23B;
border: none;
}